﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>transient1: @ViewBag.Transent1</p>
<p>scoped1: @ViewBag.Scoped1</p>
<p>singleton1: @ViewBag.SingletonObject1</p>

<p>transient2: @ViewBag.Transent2</p>
<p>scoped2: @ViewBag.Scoped2</p>
<p>singleton2: @ViewBag.SingletonObject2</p>


<p>Use this page to detail your site's privacy policy.</p>
