﻿@model MvcApplicationCSharp5.Models.Company

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <label for="name">Наименование</label>
            <input id="name" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
            <input type="submit" value="Создать" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

