﻿@model MvcApplicationCSharp5.ViewModels.CompanyViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <div>
        <p>
            <image style="width: 250px;" src="@Model.LogoFilePath" alt="logo"></image>
        </p>
    </div>
    <dl class="row">
        <div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        </div>
    </dl>
</div>
<div>
    <a asp-action="Download" asp-route-id="@Model.Id">download file</a>
    <a asp-action="Index">Back to List</a>
</div>
