﻿@model IEnumerable<Company>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Companies</h1>

<a asp-action="Create">Add company</a>
@foreach(var company in Model)
{
    <div><a asp-action="Details" asp-route-id="@company.Id">@company.Name</a></div>
}

