﻿@model MvcApplicationCSharp5.Models.Phone

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Details</h1>

<div>
    <h4>Phone</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
    </dl>
</div>
<table>
    <tbody>
    <tr>
        <th>
            Дата заказа
        </th>
        <th>
            Имя заказчика
        </th>
        <th>
            Адрес доставки
        </th>
        <th>
            Валюта платежа
        </th>
    </tr>
    @{
        var orders = Model.Orders.OrderBy(o => o.DateCreated);

        foreach (var order in orders)
        {
            <tr>
                <td>@order.DateCreated.ToString("d")</td>
                <td>@order.CustomerName</td>
                <td>@order.CustomerAddress</td>
                <td>@order.Currency.Name</td>
            </tr>
        }
    }
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
