﻿@model MvcApplicationCSharp5.ViewModels.PhonesListViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <form method="get">
        <div class="form-inline form-group">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class="form-control" asp-items="@Model.Companies">
                    <option id="All" name=""></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PriceFrom" class="control-label"></label>
                <input asp-for="PriceFrom" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PriceTo" class="control-label"></label>
                <input asp-for="PriceTo" class="form-control" />
            </div>
            <input type="submit" value="Фильтр" class="btn btn-default" />
        </div>
    </form>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            <a asp-action="Index"
               asp-route-name="@Model.Name"
               asp-route-companyId="@Model.CompanyId"
               asp-route-priceFrom="@Model.PriceFrom"
               asp-route-priceTo="@Model.PriceTo"
               asp-route-page="@Model.PageViewModel.PageNumber"
               asp-route-sortState="@Model.NameSortState">Наименование</a>
                
        </th>
        <th>
            <a asp-action="Index"
               asp-route-name="@Model.Name"
               asp-route-companyId="@Model.CompanyId"
               asp-route-priceFrom="@Model.PriceFrom"
               asp-route-priceTo="@Model.PriceTo"
               asp-route-page="@Model.PageViewModel.PageNumber"
               asp-route-sortState="@Model.PriceSortState">Цена</a>
        </th>
        <th>
            <a asp-action="Index"
               asp-route-name="@Model.Name"
               asp-route-companyId="@Model.CompanyId"
               asp-route-priceFrom="@Model.PriceFrom"
               asp-route-priceTo="@Model.PriceTo"
               asp-route-page="@Model.PageViewModel.PageNumber"
               asp-route-sortState="@Model.CompanySortState">Производитель</a>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Phones) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="Create" asp-controller="Orders" asp-route-phoneId="@item.Id">Order</a>
            </td>
        </tr>
    }
    </tbody>
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-name="@Model.Name"
       asp-route-companyId="@Model.CompanyId"
       asp-route-priceFrom="@Model.PriceFrom"
       asp-route-priceTo="@Model.PriceTo"
       asp-route-sortState="@Model.CurrentSortState"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left">Назад</i>
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-name="@Model.Name"
       asp-route-companyId="@Model.CompanyId"
       asp-route-priceFrom="@Model.PriceFrom"
       asp-route-priceTo="@Model.PriceTo"
       asp-route-sortState="@Model.CurrentSortState"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-right">Вперед</i>
    </a>
}

